<!-- // {{items | json} -->

<div *ngIf="itemsInCart.length > 0">
<div>Ostukorvis on {{ itemsInCart.length }} eset</div>
<div (click)="onEmptyCart()" class="empty-cart-button">Tühjenda ostukorv</div>
<br><br>

<div class="items-wrapper" >
    <div class="item" *ngFor="let item of itemsInCart; let i = index">
       <img src="{{item.imgSrc}}">
       <div class="item-title">{{ item.title }}</div>    
       <div class="item-price">{{ item.price }} €</div>   
       <img (click)="onDeleteFromCart(i)" class= "delete-from-cart-button" src="assets\bin.png" alt="">    
    </div>
</div>

<div class="sum-of-cart">{{sumOfCart.toFixed(2)}} € </div>
</div>

<div class="empty-cart" *ngIf="itemsInCart.length == 0">
    <img src="assets/sad.png">
</div>
