
.item-count { 
    margin-left: 10%;

}

.empty-cart-button {
margin-right:0;
margin-top: -5px;
float:right;
color: indigo;
background: white;
border-style: groove;
padding: 0;

}

.items-wrapper {
    margin: 0 10%;
}

.item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 10%;
    border-bottom: 1px solid lightgrey;

}

.item-title {
    width: 500px;
    margin-top: 40px;

}

.item-price {
    width: 70px;
    margin-top: 40px;
}

.delete-from-cart-button {
    height: 40px;
    width: 40px;
    margin-top: 35px;
    margin-left: 10px;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    opacity: 0.7;

}

.delete-from-cart-button:hover {

    opacity: 1.0;
    transition: .5s;    
    }

    .sum-of-cart {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .empty-cart {
        width: 300px;
        height: 300px;
        margin: auto;
        /* text-align: center; */
    }

    .add-to-cart-button img {

        width: 30px;
        height: 30px;
        margin: 10px;    
    }