/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
}

* {

    font-family: 'Roboto', sans-serif;
    outline: none;
}


.main-button {
 
    position: relative;
    /* margin: 0px; */
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(90, 126, 243);
    color: white;
    font-size: 20px;
}

.back {
    height: 50px;
    width: 150px;
    top: -60px;
    margin-left: -60px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}